<div class="super-parent">
  <!-- spell card -->
  <div class="spell-parent">
      <h1 class="title"><%= @spell.name %></h1>
      <h2 class="subtitle"><%= "#{@spell.school} level #{@spell.level}"%></h2>
      <p class="description"><%= @spell.description %></p>
      <div class="buttons">
        <a href="/spells"><button>Go Back</button></a>
        <a href="/spells/<%=@spell.id%>/edit"><button>Edit Spell</button></a>
        <form method="post" action="/spells/<%=@spell.id%>/delete">
          <input type="submit" value="Delete Spell" />
        </form>
      </div>
  </div>
  <!-- learning card -->
  <div class="spell-parent">
    <h1 class="title content">Students</h1><br>
    <%="Nobody has learned this spell yet" if @learnings.empty? %>
    <% @learnings.each do |learning| %>
    <p><%= "#{learning.spellbook.name} by #{learning.spellbook.character.name}" %></p>
    <% end %>
  </div>
</div>
