<form class= "spell-form" id="edit-character" method="post" action="/characters/<%=@character.id%>">
  <!-- name -->
  <input id="name" type="text" name="name" value="<%=@character.name%>" />
  <p class="error"><%= @error if @error != nil %></p>
  <div class="same-row">
    <!-- class -->
    <label for="classes-select"><p>Character Class:</p></label>
    <select id="classes-select" name="c_class">
      <% @classes.each do |c_class| %>
      <option class= "c_class" value="<%=c_class%>"
        <%= "selected" if @character.c_class == c_class %>>
        <%=c_class%>
      </option>
      <% end %>
    </select>
  </div>
  <div class="same-row">
    <!-- level -->
    <label for="level"><p>Level:</p></label>
    <input id="level" type="number" name="level" value="<%=@character.level%>" />
  </div>
  <!-- description and notes -->
  <textarea name="description" form="edit-character"> <%=@character.description%> </textarea>
  <div class="buttons">
    <input type="submit" value="Update Character" />
  </div>
</form>
