<div class = "spell-index">
  <div class="spell-legend">
    <div class="spell-item"><p><strong>Class</strong></p></div>
    <div class="spell-item"><p><strong>Level</strong></p></div>
    <div class="spell-item"><p><strong>Name</strong></p></div>
    <div class="spell-item"><p><strong>Description</strong></p></div>
    <div class="spell-item"><p><strong>Spellbooks</strong></p></div>
    <div class="spell-item"><p><strong>Number of Spells</strong></p></div>
  </div>
  <% @characters.each do |character| %>
    <a href="/characters/<%=character.id%>" class="spell-row">
      <div class="spell-item class">
        <p>
          <%= character.c_class %>
        </p>
      </div>
      <div class="spell-item level">
        <p><%= character.level %></p>
      </div>
      <div class="spell-item name">
        <p><%= character.name %></p>
      </div>
      <div class="spell-item description ellipsis">
        <p><%= character.description %></p>
      </div>
      <div class="spell-item spellbooks">
        <p><%= character.spellbooks.count %></p>
      </div>
      <div class="spell-item n-spells">
        <p><%= character.spells_count %></p>
      </div>

    </a>
  <% end %>
</div>
