<div class = "spell-index">
  <!-- table header -->
  <div class="spell-legend">
    <div class="spell-item"><p><strong>Class</strong></p></div>
    <div class="spell-item"><p><strong>Level</strong></p></div>
    <div class="spell-item"><p><strong>Name</strong></p></div>
    <div class="spell-item"><p><strong>Spellbooks</strong></p></div>
    <div class="spell-item description"><p><strong>Description</strong></p></div>
  </div>
  <!-- row population -->
  <% @characters.each do |character| %>
    <a href="/characters/<%=character.id%>" class="spell-row">
      <div class="spell-item class">
        <p>
          <%= character.c_class %>
        </p>
      </div>
      <div class="spell-item level">
        <p><%= character.level %></p>
      </div>
      <div class="spell-item name">
        <p><%= character.name %></p>
      </div>
      <div class="spell-item spellbook">
        <p><%= character.spellbooks.count %></p>
      </div>
      <div class="spell-item description short-size">
        <p><%= character.description %></p>
      </div>
    </a>
  <% end %>
</div>
