<form class= "spell-form" id="edit-spellbook" method="post" action="/spellbooks/<%=@spellbook.id%>">
  <!-- name -->
  <input id="name" type="text" name="name" value="<%=@spellbook.name%>" />
  <p class="error"><%= @error if @error != nil %></p>
  <div class="same-row">
    <!-- owner -->
    <label for="owner-select"><p>Owner:</p></label>
    <select id="owner-select" name="character_id">
      <% @characters.each do |character| %>
      <option class= "owner" value="<%=character.id%>"
        <%= "selected" if character.id == @spellbook.character_id%> >
        <%=character.name%>
      </option>
      <% end %>
    </select>
  </div>
  <!-- description -->
  <textarea name="description" form="edit-spellbook"> <%=@spellbook.description%> </textarea>
  <div class="buttons">
    <input type="submit" value="Edit Spellbook" />
  </div>
</form>
