<div class="super-parent">
  <!-- spellbook card -->
  <div class="spell-parent">
    <h1 class="title"><%= @spellbook.name %></h1>
    <h2 class="subtitle content"><%= "#{@spellbook.character.name},
      #{@spellbook.character.c_class} level #{@spellbook.character.level}"%></h2>
    <p class="description"><%= @spellbook.description %></p>
    <div class="buttons">
      <a href="/spellbooks"><button>Spellbook List</button></a>
      <a href="/characters/<%=@spellbook.character.id%>"><button>Check Owner</button></a>
      <a href="/spellbooks/<%=@spellbook.id%>/edit"><button>Edit Spellbook</button></a>
      <form method="post" action="/spellbooks/<%=@spellbook.id%>/delete">
        <input type="submit" value="Delete Spellbook" />
      </form>
    </div>
    <!-- write spells -->
    <h1 class="title content">Write Spells</h1><br>
    <div class="student-entry">
      <form id="new-learning" method="post" action="/learnings/spellbooks">
        <select id="spell-select" name="spell_id">
          <% @compendium.each do |spell| %>
          <option value="<%=spell.id%>">
            <%="Level #{spell.level}, #{spell.name} from #{spell.school} school" %>
          </option>
          <% end %>
        </select>
        <input style="display: none;" name="spellbook_id" value="<%= @spellbook.id%>" />
        <input type="submit" value="Add Spell" />
      </form>
    </div>
  </div>
  <!-- list of spells -->
  <div class="spell-parent spell-table">
    <h1 class="title content">Spells List</h1>
    <div class="spell-index">
      <div class="spell-legend">
        <div class="spell-item"><p><strong>Level</strong></p></div>
        <div class="spell-item"><p><strong>School</strong></p></div>
        <div class="spell-item"><p><strong>Name</strong></p></div>
      </div>
      <% @learnings.each do |learning| %>
        <div class="same-row">
          <a href="/spells/<%=learning.spell.id%>" class="spell-row">
            <div class="spell-item level">
              <p href="/spells/<%=learning.spell.id%>"><% if learning.spell.level == 0 %>
                <%= "Cantrip" %>
                <% else %>
                <%= learning.spell.level %>
                <% end %>
              </p>
            </div>
            <div class="spell-item">
              <p> <%= learning.spell.school %> </p>
            </div>
            <div class="spell-item">
              <p> <%= learning.spell.name %> </p>
            </div>
          </a>
          <div class="spell-item">
            <form method="post" action="/learnings/<%=learning.id%>/delete/spellbooks">
              <input class="button delete" type="submit" value="Delete">
            </form>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
